@charset "UTF-8";

/* 定义字体 */
/*@font-face {
    font-family: "alimama-agile";
    src: url("./font/alimama-agile.woff") format("woff2"),
    url("./font/alimama-agile.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "alimama-circum";
    src: url("./font/alimama-circum.woff2") format("woff2"),
    url("./font/alimama-circum.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "alimama-daoli";
    font-weight: 400;
    src: url("./font/alimama-daoli.woff2") format("woff2"),
    url("./font/alimama-daoli.woff") format("woff");
    font-display: swap;
}*/
